{%- comment -%} Featured image from article. Params: block, article {%- endcomment -%}
{% assign block_settings = block.settings %}
{% assign image = article.image %}
{% if image %}
  <div
    class="blog-post-featured-image blog-post-featured-image--{{ block.id }} blog-post-featured-image--height-{{ block_settings.height }} spacing-style size-style"
    style="
      --ratio: {% case block_settings.image_ratio %}
        {% when 'landscape' %}16 / 9
        {% when 'portrait' %}4 / 5
        {% when 'adapt' %}{{ image.aspect_ratio | default: 1 }}
        {% else %}1
      {% endcase %};
      {% render 'size-style', settings: block_settings %}
      {% render 'spacing-style', settings: block_settings %}
    "
    {{ block.shopify_attributes }}
  >
    {% capture image_border_style %}{% render 'border-override', settings: block_settings %}{% endcapture %}
    {{ image | image_url: width: 3840 | image_tag: width: image.width, widths: '240, 352, 832, 1200, 1600, 1920, 2560, 3840', height: image.height, class: 'blog-post-featured-image__image border-style', style: image_border_style, sizes: 'auto, (min-width: 750px) 100vw, 100vw', loading: 'eager', fetchpriority: 'high', alt: image.alt }}
  </div>
{% else %}
  <div class="blog-post-featured-image blog-post-featured-image--{{ block.id }}" {{ block.shopify_attributes }}></div>
{% endif %}
{% stylesheet %}
  .blog-post-featured-image { --width: 100%; --custom-width: 100%; display: block; position: relative; width: var(--width); }
  .blog-post-featured-image.size-style { --width: var(--size-style-width, 100%); }
  .blog-post-featured-image--height-fit { height: fit-content; }
  .blog-post-featured-image--height-fill { height: 100%; }
  .blog-post-featured-image__image { aspect-ratio: var(--ratio); width: 100%; height: 100%; object-fit: cover; object-position: center center; }
  @media screen and (max-width: 749px) {
    .blog-post-featured-image { --width: var(--width-mobile, var(--width)); --custom-width: var(--custom-width-mobile, var(--custom-width)); }
    .blog-post-featured-image.size-style { --width: var(--size-style-width-mobile, var(--size-style-width, 100%)); }
  }
{% endstylesheet %}
